#nav
{
	float: right;
}

#nav > a
{
	display:inline;
	margin: 5px;
	font-family: Verdana;
}

#the_box
{
	width:20px;
	height:20px;
}

#the_bell
{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid gray;
}

#the_initial
{
	border-radius: 100%;
	background-color: blue;
	padding:10px;
}

#the_initial > span
{
	color: white;
	font-size: 40px;
	text-align: center;
}

a
{
	text-decoration: none;
}