#nav
{
	float: right;
	margin: 10px;
}

#nav > a
{
	display:inline;
	margin: 15px;
	font-family: Verdana;
}

#the_box
{
	width:20px;
	height:20px;
}

#the_bell
{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid gray;
}

#the_initial
{
	border-radius: 50%;
	width: 50px;
	height:50px;
		text-align: center;
	background-color: blue;
	display: inline-block;
}

#the_initial > a > span
{
	font-family: Verdana;
	color: white;
	font-size: 20px;
	line-height:50px;
}

a
{
	text-decoration: none;
}